{% macro render_pagination(pagination) %}
  <div class="pagination">
    <hr/>
      {% if pagination.has_prev -%}
        <a href="{{ pagination.prev|url }}">&laquo; Previous</a>
      {%- else -%}
        <a>&laquo; Previous</a>
      {%- endif -%}
        {{ ' ' }}| {{ pagination.page }} |{{ ' ' }}
      {%- if pagination.has_next -%}
        <a href="{{ pagination.next|url }}">Next &raquo;</a>
      {%- else -%}
        <a>Next &raquo;</a>
      {%- endif %}
    <hr/>
  </div>
{% endmacro %}
