# Permanent URL redirect
RewriteEngine on
Redirect 301 /termine/wtf.ics https://work.wtf-eg.de/remote.php/dav/public-calendars/mWm73pymB5zPaWpg/?export
Redirect 301 /BBB/ https://wtf-eg.de/bbb/
Redirect 302 /wtf.xml https://wtf-eg.de/wtf.xml
Redirect 302 /wtf-ogg.xml https://wtf-eg.de/wtf-ogg.xml
