<!doctype html>
<html>
  <head>
<!--
__      ___________________
\ \     \________  _______|___
 \ \        / /  | |  |  ____|
  \ \  /\  / /   | |  | |__
   \ \/  \/ /    | |  |  __|
    \  /\  /     | |  | |
     \/  \/      |_|  |_|
     Werkkooperative der
    Technikfreundinnen e.G.
-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ '/css/main.min.css'|asseturl }}">
    <title>{% block title %}Welcome{% endblock %} — VEBIT e.V.</title>
  </head>
  <body>
  <header>
  <nav>
    <ul>
      <li>
        <a
          {%- if this._path == '/' %} class="active" {% else %} {% endif -%}
        href="{{ '/'|url }}">HOME</a>
      </li>
          {%- for title, href in bag('nav-bar', "NavBar").items() %}
      <li>
        <a
          {%- if this.is_child_of(href) %} class="active" {% else %} {% endif -%}
      href="{{ href|url }}">
      {{- title -}}
        </a>
      {%- if  bag('nav-bar', title) %}
        {%- for nav_title, nav_url in bag('nav-bar', title).items() %}
        <ul>
          <li>
            <a href="{{ nav_url if 'http' in nav_url else nav_url|url -}}
            ">{{ nav_title }}</a>
          </li>
        </ul>
        {%- endfor %}
        {%- endif %}
      </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <!-- &copy; Copyright 2020 by VEBIT e.V. | --><a href="/impressum/">Impressum</a> | <a href="/datenschutz/">Datenschutz</a>
    <!-- MIT (C) 2020 by VEBIT e.V + Members
         MIT (C) 2020 by L3D <l3d at c3woc.de> -->
  </footer>
</body>
